.account-title {
    font-size: 25px;
    font-family: Open Sans Light;
}

.account-subtitle {
    font-size: 10px;
    font-family: Open Sans Light;
}

.account-password {
    font-size: 20px;
    font-family: Open Sans Light;
}
